# OS / Editor specific
*.swp
.DS_Store
*.bak
*.log

# Global node or python stuff (if using monorepo tools)
backend/node_modules/
.env

# angular
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
frontend/angular-sample-app/node_modules/

# Compiled output
frontend/angular-sample-app/dist
/tmp
/out-tsc
/bazel-out

# Node
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
frontend/angular-sample-app/.vscode/*
frontend/angular-sample-app/!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
frontend/angular-sample-app/.editorconfig
frontend/angular-sample-app/.angular/cache
frontend/angular-sample-app/.sass-cache/
frontend/angular-sample-app/connect.lock
frontend/angular-sample-app/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
